/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/comps.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Elymaic&display=swap');

.comps_header__1VZKl{
    background-color: #8f2366;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Noto Sans Elymaic", sans-serif;
    font-weight: 700;
    font-style: normal; 
    justify-content: space-around;
    height: 150px;
    align-items: center;
}

.comps_main__NZdWE{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 50px;
    background-color: #f8a5d8;
}

.comps_footer___lgtY{
    font-size: 22px;
    background-color: #8f2366;
    padding: 10px 40px;
    width: 100%;
    height: 200px;
    align-items: center;
    display: flex;
    flex-direction: row;
    display: flex;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
}

.comps_butao__3p_3a{
    border-radius: 20px;
    background-color: #d6179d;
    width: 75px;
    height: 80px;
}
.comps_card__2FzKx{
    display: flex;
    width: 400px ;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(196, 30, 113);
    padding: 15px;
}

.comps_titulo__P4I1x{
    font-style: bold;
    font-size: larger;
}
